text.month-name,
text.calendar-heatmap-legend-text,
text.day-initial {
  font-size: 11px;
  fill: inherit;
}
rect.day-cell:hover {
  stroke: #555555;
  stroke-width: 1px;
}
#chart rect {
  stroke: #f9bb2d;
  stroke-width: 1px;
}
#chart rect:hover {
  fill: #ff9d00;
}
.day-cell-tooltip {
  position: absolute;
  z-index: 9999;
  padding: 5px 9px;
  color: #ffffff;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  text-align: center;
}
.calendar-heatmap {
  box-sizing: initial;
}
.histogram-bar-tooltip {
  box-sizing: border-box;
  position: absolute;
  z-index: 9999;
  padding: 5px 9px;
  color: #ffffff;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  text-align: center;
}

svg:not(:root) {
  overflow: initial;
}
.percent-bar:not(:first-child) {
  border-left: 1px solid #ffffff;
}
.percent-bar:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.percent-bar:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.tooltip-color {
  --balloon-color: rgba(0, 0, 0, 0.7);
}
.color-circle-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.search-stats-text li {
  list-style: none;
}
.search-stats-text div {
  display: flex;
  align-items: center;
}
.search-stats-text span {
  padding: 3px;
  font-size: 16px;
}
