@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

html {
  background-color: #fcfaf6;
}

img {
    display: inline;
}

.logo {
  padding: 40px;
  font-family: "Alfa Slab One", serif;
  font-size: 32px;
  text-align: center;
  display: flex;
}

.logo img {
  width: 60px;
  margin: 0 25px;
}

.flex-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding: 10px 0 25px 0;
  color: var(--primary-text-color);
}
h1,
.title-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: var(--primary-text-color);
  border-left: var(--primary-color) 8px solid;
  padding-left: 10px;
}
h2,
.subtitle-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-text-color);
}
.text {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: var(--primary-text-color);
}
.subtext {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
.percent-bar:not(:first-child) {
  border-left: 1px solid #ffffff;
}
.percent-bar:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.percent-bar:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.tooltip-color {
  --balloon-color: rgba(0, 0, 0, 0.7);
}
.color-circle-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.search-stats-text li {
  list-style: none;
}
.search-stats-text div {
  display: flex;
  align-items: center;
}
.search-stats-text span {
  padding: 3px;
  font-size: 16px;
}
.crate-list-filter {
  margin: 15px 12px;
  display: flex;
  justify-content: space-between;
}
.crate-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crate-list-item:not(:last-child) {
  border-bottom: var(--primary-color) 1px dashed;
}
.crate-list-item:hover {
  background-color: #f5f3f1;
}
.crate-list-item .crate-attr {
  margin: 0 8px;
  font-size: 16px;
}
.crate-list-item .crate-desc {
  color: #565656;
  padding: 10px 0;
  font-size: 16px;
}
.crate-list-item .crate-extra {
  color: #565656;
  font-size: 15px;
}
.btn-remove {
  color: #dd4814;
  font-size: 14px;
  padding: 15px;
}
.btn-remove:hover {
  cursor: pointer;
  font-weight: bold;
}
.setting-group {
  @apply flex flex-col ml-0 m-4;
  @apply md:flex-row;
}
.setting-group .title-text {
  @apply my-8 box-content h-fit;
  @apply md:w-72 md:mb-8 md:mt-0;
}
.disable {
  pointer-events: none;
  opacity: 0.3;
}
.setting-item {
  font-size: 20px;
  margin-bottom: 30px;
}
.setting-subitem {
  font-size: 15px;
  color: #444;
  margin: 10px;
}
.offline-doc-path {
  width: 100%;
  margin: 5px 0;
}
.toggle {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 15px;
  vertical-align: middle;
}
.toggle input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
input:checked + .slider {
  background-color: #333;
}
input:focus + .slider {
  box-shadow: 0 0 1px #333;
}
input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.btn {
  padding: 8px 15px;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 120px;
}
.btn-primary {
  background-color: #f9bb2daa;
}
.btn-primary:hover {
  background-color: #f9bb2d;
}
.btn-secondary {
  background-color: #121212bb;
  color: white;
}
.btn-secondary:hover {
  background-color: #121212;
}
.file-selector {
  margin-bottom: 30px;
  border: 1px dashed;
  padding: 10px;
}
.file-selector.required {
  border: 1px dashed red;
  animation: shake 0.5s;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
a {
  color: initial;
  text-decoration: underline;
}
a:visited {
  color: initial;
}
ul {
  list-style: none;
}
h3 {
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
}
.container {
  padding: 30px 40px 80px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.filter-list {
  position: absolute;
  right: -68px;
  top: 5px;
  font-size: 16px;
  z-index: 9;
}

.filter-list > li {
  margin-bottom: 10px;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.selected {
  background-color: var(--primary-color);
}
